In [1]:
import pandas as pd
import numpy as np

In [7]:
d = {
    "A": 1.0,
    "B": pd.Timestamp("20130102"),
    "C": pd.Series(1, index=list(range(4)), dtype="float32"),
    "D": np.array([3] * 4, dtype="int32"),
    "E": pd.Categorical(["test", "train", "test", "train"]),
    "F": "foo",
}
df = pd.DataFrame(d)
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
d = {
    "A": [1, 2, 3],
    "B": ["foo", "bar", "baz"]
}
pd.DataFrame(d)

   A    B
0  1  foo
1  2  bar
2  3  baz

In [17]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}
df = pd.DataFrame(d)
pd.DataFrame(d, columns=["two", "three"])

   two three
a  1.0   NaN
b  2.0   NaN
c  3.0   NaN
d  4.0   NaN

In [21]:
data = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]
pd.DataFrame(data)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [49]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0]),
}
df = pd.DataFrame(d)
df["three"] = df["one"] + df["two"]
df.loc[:, ["one"]]
df.loc[0]
df[df["one"] > 2.0]

   one  two  three
2  3.0  3.0    6.0

a    1
b    2
c    3
dtype: int64