In [1]:
import pandas as pd

In [106]:
df = pd.read_csv("sample.csv", index_col=0, parse_dates=True)
df

                          A  B     C
date
2022-06-01 08:00:00   apple  1   2.0
2022-06-01 08:00:00   apple  2   4.0
2022-06-02 09:00:00   grape  2   3.0
2022-06-02 09:00:00   grape  4   3.0
2022-06-03 10:00:00  banana  3   5.0
2022-06-03 10:00:00  banana  3   NaN
2022-06-04 11:00:00   remon  4  10.0
2022-06-04 11:00:00     NaN  4  11.0
2022-06-05 12:00:00    kiwi  4   3.0
2022-06-05 12:00:00    kiwi  4   3.0

In [107]:
df["C"] = df["C"].fillna(0)

In [114]:
df1 = df.resample("D").mean()

In [117]:
df1["E"] = df["C"].resample("D").max()

In [1]:
df1[:,["B"]]

NameError: name 'df1' is not defined